body{
    background-color: #c8262ea2;
   
}
.main{
    display: flex;
    margin: 5em auto;
    justify-content: space-around;
    width: 50%;
    background-color: #f5a720;
    padding: 1em;
}

.sectionOne{
    width: 50%;
}

.sectionTwo{
    width: 50%;
}

.bookclub, .mainText{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.mainText{
    font-weight: lighter;
}